--markup=markdown 
--tag copyright:"Copyrights" 
--tag rest_url:"REST URL" 
--tag path:"Path" 
--protected 
--private 
--dependencies 
--full
lib/**/*.rb
app/**/*.rb
test/**/*.rb
--load yard-test-handler.rb
-
README.md
LICENSE
Gemfile
Passengerfile.json.md
nginx.md
yard-test-handler.rb
coverage/index.html
