<p><strong>Objet :</strong></p>
<p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions d'accès et d'utilisation de la plateforme d'échanges relative à l'ouverture et à la mise en place des données publiques du portail Open Data mutualisé de la Métropole Nice Côte d'Azur.</p>
<p>Pour toute question relative au fonctionnement du portail Open Data mutualisé de la Métropole Nice Côte d'Azur et aux présentes Conditions Générales d'Utilisation, n'hésitez pas à nous contacter  par le formulaire de contact présent sur le site à la rubrique Contact.</p>
<p> </p>
<p><strong>Acceptabilité et opposabilité : </strong></p>
<p>A la date de la première utilisation du portail Open Data mutualisé de la Métropole Nice Côte d'Azur par l'Utilisateur, les Conditions Générales d'Utilisation sont réputées lues et applicables.</p>
<p> </p>
<p><strong>Modification des présentes conditions générales d’utilisation :</strong></p>
<p>La Métropole Nice Côte d’Azur se réserve le droit de modifier ou de mettre à jour à tout moment les présentes Conditions Générales d'Utilisation et sans accord préalable de l'Utilisateur.</p>
<p>Les présentes Conditions Générales d'utilisation sont opposables pendant toute la durée d'utilisation du portail Open Data mutualisé de la Métropole Nice Côte d'Azur et jusqu'à ce que de nouvelles Conditions Générales d'Utilisation remplacent les présentes.</p>
<p>Les Conditions Générales d'Utilisation figurant en ligne sur le portail Open Data mutualisé de la Métropole Nice Côte d'Azur prévalent sur toute version imprimée de date antérieure.</p>
<p> </p>
<p><strong>Disponibilité : </strong></p>
<p>Le portail Open Data mutualisé de la Métropole Nice Côte d'Azur est accessible 24 heures sur 24, 7 jours sur 7, sauf cas de force majeure ou d'événement hors du contrôle de la Métropole Nice Côte d’Azur.</p>
<p>La Métropole Nice Côte d'Azur s'efforce d'assurer au mieux l'exactitude des données et leur mise à jour. La Métropole Nice Côte d'Azur ne pourra être tenue pour responsable en cas d'informations erronées ou d'omissions. Toutefois, l'Utilisateur peut signaler un problème sur la Plateforme ou sur un jeu de données en écrivant un courrier électronique grâce au formulaire de contact présent sur le site à la rubrique « Contact ».</p>
<p> </p>
<p><strong>Inscription/ Connexion : </strong></p>
<p>Tout Utilisateur, majeur, peut ouvrir un compte dans l’Espace développeurs. L'inscription est gratuite.</p>
<p>Lors de son inscription, chaque Utilisateur dispose d'un identifiant et d'un mot de passe qui sont personnels et confidentiels. L'Utilisateur s'engage à les conserver secrets, à ne pas les communiquer.</p>
<p>L'Utilisateur est responsable de l'identifiant et du mot de passe qui lui ont été attribués pour l'accès aux services proposés sur la plateforme. L'utilisateur doit mettre en œuvre les mesures de précaution et de sécurité nécessaires à la protection de son identifiant et de son mot de passe.</p>
<p>En cas d'oubli du mot de passe, l'Utilisateur pourra recréer un mot de passe en cliquant sur le lien « mot de passe oublié ? » disponible à la rubrique « Connexion ».</p>
<p>La Métropole Nice Côte d’Azur ne pourra pas être tenue pour responsable de l'utilisation frauduleuse de l'identifiant et/ou du mot de passe de l'Utilisateur par un tiers qui serait parvenu à le subtiliser.</p>
<p> </p>
<p><strong>Obligations des Utilisateurs : </strong></p>
<p>L'Utilisateur s'engage à utiliser le portail Open data mutualisé de la Métropole Nice Côte d’Azur dans les seules conditions définies aux présentes Conditions Générales d'Utilisation, et en outre ;</p>
<ul><li>à ne pas détourner l'utilisation du portail Open data mutualisé de la Métropole Nice Côte d’Azur à des fins personnelles,</li>
<li>à ne commettre aucun acte de contrefaçon.</li>
</ul><p>L'Utilisateur s'engage à utiliser le portail Open data mutualisé de la Métropole Nice Côte d’Azur de façon loyale, dans le respect des présentes Conditions Générales d'Utilisation, des lois et règlements applicables, notamment les lois relatives à la propriété intellectuelle et industrielle, à l'informatique, aux fichiers et aux libertés.</p>
<p>L'utilisateur s'interdit de collecter, de quelque manière que ce soit, des informations sur les internautes et utilisateurs, manuellement ou de manière automatisée, en particulier les adresses de courrier électronique, sans leur consentement, notamment en vue de l'envoi de prospections non sollicitées ou spams, de chaînes de courriers électroniques.</p>
<p> </p>
<p><strong>Données à caractère personnel :</strong></p>
<p>Les données personnelles recueillies sur le site résultent de la communication volontaire lors du dépôt d'un message électronique par le biais d'un formulaire, d'une inscription volontaire à une liste de diffusion ou de la sollicitation d'un accès réservé à un espace restreint.</p>
<p>
Les courriels ainsi recueillis ne servent qu'à transmettre les éléments d'informations demandés.<br />
La Métropole Nice Côte d’Azur s'engage à ne pas divulguer les informations vous concernant. Nous ne vendons, louons ou ne communiquons à aucun tiers les données personnelles fournies par les personnes qui visitent ce site.</p>
<p>
Conformément à l'article 34 de la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978, modifiée le 6 août 2004, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez l'exercer sur simple demande écrite à l'adresse suivante :</p>
<p>Direction des Affaires Juridiques</p>
<p>Métropole Nice Côte d’Azur</p>
<p>06364 NICE cedex 4</p>
<p> </p>
<p><strong>Formulaires / Cookies :</strong></p>
<p>Pour tous les formulaires présents sur le portail Open data mutualisé de la Métropole Nice Côte d’Azur, les champs identifiés par un astérisque sont obligatoires. En l'absence de réponse ou si les informations fournies sont erronées, le traitement des demandes et/ou l'accès au service pourraient être affectés ou rendus impossible.</p>
<p>L'Utilisateur dispose également d'un droit d'opposition au traitement de ses données pour des motifs légitimes ainsi qu'un droit d'opposition à ce que ses données soient utilisées à des fins de prospection commerciale.</p>
<p>Le portail Open data mutualisé de la Métropole Nice Côte d’Azur emploie PIWIK, un service d'analyse de site internet open source  (sous licence GPL). Le logiciel est disponible sous <a href="http://piwik.org/" target="_blank">http://piwik.org</a>.</p>
<p> </p>
<p> Piwik utilise des « cookies », des fichiers texte qui seront sauvegardés sur votre ordinateur pour aider le site internet à analyser l'utilisation du site par ses utilisateurs). Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront stockées par des serveurs appartenant à la Métropole Nice Côte d’Azur.  Attention nous ne pouvons pas associer ces informations avec des personnes, ni  partager ces informations avec des tiers. Ces données ne sont pas non plus associées aux éventuelles données personnelles que vous nous avez transmises.</p>
<p>Vous pouvez empêcher l’enregistrement des cookies par une manipulation effectuée sur votre logiciel de navigateur ; nous vous informons cependant du fait que, si vous procédez à cette manipulation, vous ne pourrez éventuellement pas accéder à l’ensemble des fonctionnalités de notre site Internet. Vous trouverez des renseignements au sujet de l’accord, du refus, de la consultation et de l’annulation concernant les cookies dans la fonction d’aide de votre navigateur.</p>
<p> </p>
<p><strong>Liens hypertextes : </strong></p>
<p> Le portail Open Data mutualisé de la Métropole Nice Côte d'Azur propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers.</p>
<p>Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'Utilisateur reconnaît que la Métropole Nice Côte d'Azur n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu. </p>
<p> </p>
<p><strong>Résiliation : </strong></p>
<p>En cas de manquement de l'Utilisateur aux dispositions légales et/ou aux stipulations des présentes Conditions Générales d'Utilisation, la Métropole Nice Côte d’Azur pourra résilier le compte de l'Utilisateur concerné, sans notification préalable. La résiliation aura un effet immédiat. Dans ce cas, la possibilité d'ouvrir un nouveau compte ne sera pas recevable.</p>
<p>Aucune indemnité ne pourra être demandée à la Métropole Nice Côte d’Azur du fait de la résiliation du compte d'un Utilisateur.</p>
<p>En cas de résiliation du compte d'un Utilisateur à sa demande, l'Utilisateur est informé que son compte sera supprimé mais que toutes ses Contributions resteront visibles pour les autres Utilisateurs, sauf à ce que l'Utilisateur ait lui-même procéder à la suppression de ses Contributions préalablement à sa demande de résiliation.</p>
