<p><strong>Objet:</strong></p>
<p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions d'accès et d'utilisation de ESoOD.</p>
<p>Pour toute question relative au fonctionnement de ESoOD et aux présentes Conditions Générales d'Utilisation, n'hésitez pas à contacter l'Editeur par le formulaire de contact accessible à la rubrique [Contact] de ESoOD.</p>
<p><strong>Définitions:</strong></p>
<ul>
   <li>ESoOD: désigne le site ou portail internet accessible via l'url "bege.hd.free.fr" </li>
   <li>Editeur: désigne la micro-entreprise 'Gardin Bruno' joignable à l'adresse électronique bgardin@gmail.com</li>
   <li>Utilisateur: désigne une personne ayant souscrit un abonnement à ESoOD</li>
</ul>

<p><strong>Acceptabilité et opposabilité: </strong></p>
<p>A la date de la première utilisation de ESoOD par l'Utilisateur, les Conditions Générales d'Utilisation sont réputées lues et applicables.</p>
<p><strong>Modification des présentes conditions générales d’utilisation:</strong></p>
<p>L'Editeur de ESoOD se réserve le droit de modifier ou de mettre à jour à tout moment les présentes Conditions Générales d'Utilisation et sans accord préalable de l'Utilisateur.</p>
<p>Les présentes Conditions Générales d'utilisation sont opposables pendant toute la durée d'utilisation de ESoOD et jusqu'à ce que de nouvelles Conditions Générales d'Utilisation remplacent les présentes.</p>
<p>Les Conditions Générales d'Utilisation figurant en ligne sur ESoOD prévalent sur toute version imprimée de date antérieure.</p>
<p><strong>Disponibilité: </strong></p>
<p>ESoOD est ouvert 24 heures sur 24, 7 jours sur 7, sauf cas d'opération de maintenance, de force majeure ou d'événement hors du contrôle de l'Editeur de ESoOD.</p>
<p>Les données fournies par ESoOD provenant directement des bases de la Banque Mondiale, l'Editeur ne pourra être tenu pour responsable en cas d'informations erronées ou d'omissions. Cependant, toute personne peut signaler un problème sur la Plateforme ou sur un jeu de données en écrivant un courrier électronique grâce au formulaire de contact présent sur ESoOD à la rubrique [Contact].</p>
<p><strong>Connexion / Abonnement: </strong></p>
<p>Toute personne peut se connecter a ESoOD. L'utilisation est libre et gratuite.</p>
<p>Pour bénéficier de fonctionnalités supplémentaires et d'un jeu de données étendu, l'Utilisateur doit souscrire un abonnement. Cet abonnement est valide depuis le moment de l'inscription jusqu'au désabonnement.</p>
<p>L'Utilisateur peut procéder à tout moment à la résiliation de son compte et de son abonnement sans préavis au moyen du bouton [Supprimer mon compte] de la rubrique [Profil].</p>
<p>Toutefois, toute période d'abonnement commencée (mois ou année) est due.</p>
<p>Lors de son inscription, chaque Utilisateur dispose d'un identifiant et d'un mot de passe qui sont personnels et confidentiels. L'Utilisateur s'engage à les conserver secrets, à ne pas les communiquer. L'utilisateur doit mettre en œuvre les mesures de précaution et de sécurité nécessaires à la protection de son identifiant et de son mot de passe.</p>
<p>En cas d'oubli du mot de passe, l'Utilisateur pourra recréer un mot de passe en cliquant sur le lien « mot de passe oublié ? » disponible à la rubrique [Connexion].</p>
<p>L'Editeur de ESoOD ne pourra pas être tenu pour responsable de l'utilisation frauduleuse de l'identifiant et/ou du mot de passe de l'Utilisateur par un tiers qui serait parvenu à le subtiliser.</p>
<p> </p>
<p><strong>Obligations des Utilisateurs: </strong></p>
<p>L'Utilisateur s'engage à utiliser ESoOD dans les seules conditions définies aux présentes Conditions Générales d'Utilisation, et en outre:</p>
<ul><li>à ne pas détourner l'utilisation de ESoOD à des fins personnelles</li>
<li>à ne commettre aucun acte de contrefaçon.</li>
</ul><p>L'Utilisateur s'engage à utiliser ESoOD de façon loyale, dans le respect des présentes Conditions Générales d'Utilisation, des lois et règlements applicables, notamment les lois relatives à la propriété intellectuelle et industrielle, à l'informatique, aux fichiers et aux libertés.</p>
<p><strong>Données à caractère personnel :</strong></p>
<p>Les données personnelles recueillies sur ESoOD résultent de la communication volontaire lors de l'inscription ou du dépôt d'un message électronique par le biais d'un formulaire.</p>
<p>Les données bancaires fournies au moment de l'abonnement ne transitent d'aucune façon par ESoOD. Elles sont traitées par l'opérateur de transaction financière Stripe.</p>
<p>
L'éditeur de ESoOD s'engage à ne pas divulguer les informations concernant l'Utilisateur.</p>
<p>
Conformément à l'article 34 de la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978, modifiée le 6 août 2004, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez l'exercer directement à la rubrique [Profil] ou sur simple demande en écrivant un courrier électronique grâce au formulaire de contact présent sur ESoOD à la rubrique [Contact].</p>
<p><strong>Formulaires:</strong></p>
<p>Pour tous les formulaires présents sur ESoOD, les champs identifiés par un astérisque sont obligatoires. En l'absence de réponse ou si les informations fournies sont erronées, le traitement des demandes et/ou l'accès au service pourraient être affectés ou rendus impossible.</p>
<p><strong>Résiliation: </strong></p>
<p>En cas de manquement de l'Utilisateur aux dispositions légales et/ou aux stipulations des présentes Conditions Générales d'Utilisation, l'éditeur de ESoOD pourra résilier le compte et l'abonnement de l'Utilisateur concerné, sans notification préalable. La résiliation aura un effet immédiat. Dans ce cas, la possibilité d'ouvrir un nouveau compte ne sera pas recevable.</p>
<p>Aucune indemnité ne pourra être demandée à l'éditeur de ESoOD du fait de la résiliation du compte pour manquement d'un Utilisateur.</p>
<p><strong>Propriété intellectuelle:</strong></p>
<p>L'Editeur de ESoOD reste titulaire de tous les droits de propriété intellectuelle relatifs au site et des droits d’usage y afférant. Cependant, ESoOD est développé sous licence publique générale GNU et les sources sont publiés sur github.</p>
<p><strong>Langue du contrat: </strong></p>
<p>Seule la version en langue française des Conditions Générales d'Utilisation fait foi entre les parties et pourra être produite en justice. La version anglaise n'est disponible qu'à titre indicatif.</p>
<p><strong>Droit applicable: </strong></p>
<p>
La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, seuls les tribunaux du ressort de la Cour d'appel de Versailles sont compétents.</p>
