<p><strong>Purpose :</strong></p>
<p>The following Terms and Conditions aim at defining the access and usage conditions for ESoOD. Only the original text written in French can be used as a legal reference. This translation in english is proposed for those you can't read french.</p>
<p>For all questions related to ESoOD or related to these Terms and Conditions, you can contact the Editor with the contact form available with the link [Contact] of ESoOD.</p>
<p><strong>Definitions :</strong></p>
<ul>
   <li>ESoOD: is the internet site or portal accessible via the url "bege.hd.free.fr" </li>
   <li>Editor: is the french micro-entreprise 'Gardin Bruno' accessible with the email adress bgardin@gmail.com</li>
   <li>User: is a person with a subscription for ESoOD</li>
</ul>
<p><strong>Acceptance and Opposition: </strong></p>
<p>At the time of first usage of ESoOD by the User, these present Terms and Conditions are considered as read and applicable.</p>
<p><strong>Modification of these Terms and Conditions:</strong></p>
<p>The Editor of ESoOD may modify or update these Terms and Conditions at any time and without any agreement of the User.
</p>
<p>These present Terms and Conditions are appicable during all the period of usage of EsOOD and untill new Terms and Conditions replace these present ones.</p>
<p>The Terms and Conditions available in line on ESoOD prevail over any printed previous version.</p>
<p><strong>Availability: </strong></p>
<p>ESoOD is opened 24h/7d, except in case of maintenance or force majeure that cannot be controlled by the Editor.</p>
<p>Data provided by ESoOD are directly coming from the WorldBank data set. Thus, the Editor is not responsible if information is wrong or missing. However, anyone can signal such a problem with the contact form available with the link [Contact] of ESoOD.
</p>
<p> </p>
<p><strong>Connexion/Subscription: </strong></p>
<p>Anyone can have access to ESoOD. The usage is free.</p>
<p>If one wants to have additional functions and extended data, the User needs to purchase a subscription. This subscription is valid immediatly until account cancelation.</p>
<p>The User can cancel its account and subscription at anytime without prior notice with the button [Cancel my account] in the [Profile] menu item.</p>
<p>However, each started subscription period (month or year) is due.</p>
<p>During subscription, each User enters an identifier and a password that are private. The User commits to keep them secret and to not communicate them.</p>
<p>If a User forget its password, he/she can recreate a new one by clicking on « forgot your password ? » in the [Log in] menu item.</p>
<p>The Editor cannot be responsible for a fraudulent use of the identifier/password of a User.</p>
<p> </p>
<p><strong>User obligation: </strong></p>
<p>The User commits to use ESoOD only in the conditions described in these present Terms and Conditions and in addition:
</p>
<ul><li>do  not use ESoOD inappropriatly for personal targets </li>
<li>do not act in any counterfeiting manner</li>
</ul><p>The User commits to use ESoOD faithfully, in accordance to the present Terms and Conditions, laws and applicable rules, in particular those related to intellectual and industrial properties, data protection laws.</p>
<p><strong>Personal data:</strong></p>
<p>The personal data collected on ESoOD come only from the subscription form or email sent to the Editor.</p>
<p>By no mean, the banking information given for the subscription goes through ESoOD. They are directly handled by the financial transaction operator Stripe.</p>
<p>
The Editor is committed to never disclose information concerning the User.</p>
<p>
In conformity with the "article 34 de la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978, modifiée le 6 août 2004", a User has the right to modify, correct or suppress private information. You can do it yourself with the link [Profile] or ask for it with the contact form available with the link [Contact] of ESoOD.</p>
<p><strong>Forms:</strong></p>
<p>In all the forms of ESoOD, the fields marked with * are mandatory. Without any or wrong answer, the access could  be denied or become impossible.</p>
<p><strong>Cancellation: </strong></p>
<p>If ever the User does not follow the legal conditions and requirements contained in these Terms and Conditions, the Editor may cancel the account and subscription of the User without warning notice. The cancelation will be immediate.</p>
<p>No penalty can be asked to the Editor in this case.</p>
<p><strong>Intellectual property:</strong></p>
<p>The Editor of ESoOD owns all the rights of intellectual property related to the site and its usages. However, ESoOD is developped with the GNU general public license and the sources are published on github.</p>
<p><strong>Governing law: </strong></p>
<p>
This contract is governed by french law exclusively. The exclusive place of jurisdiction for both parties shall be Versailles, France.</p>
