<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('invoice_mail_1')%></h1>
    <p>
      <%= t('invoice_mail_2')%><br><br><%= t('invoice_mail_3')%><br><br><%= t('invoice_mail_4')%>
    </p>
    </body>
</html>
