<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New customer created</h1>
    <p>
      There is a new customer <%= @user.email %> created in ESoOD
    </p>
    </body>
</html>
