<h1>Country Chart</h1>
<canvas width="1000" height="350" id="line" style=" margin-left: 50px; margin-top: 23px; cursor: default;" class="animated rotateIn"></canvas>
<script type="text/javascript">
//alert(String(gon.data))
  var datachar = [];                            //convert data in String for the chart tooltips
  for (var i=0; i<gon.data.length; ++i) { 
     datachar[i] = String(gon.data[i]); 
  }
var line = new RGraph.Line({
 id: 'line', 
 data: gon.data,
 options: {
   colors: ['rgb(255,0,0)', 'rgb(0,0,255)', 'rgb(0,100,0)'],
   title: gon.country.concat("  ",gon.indicator),
   linewidth: 3,
   backgroundGridVlines: false,
   labels: gon.year,
   ylabelsInside: true,
   textSize: 8,
   spline: true, 
   tooltipsCoordsPage: true,
   tooltips: datachar,
//   tooltips.event: 'onmousemove',
   }
})   
   line.Draw(); 
</script>

